html,body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}
.left,.right { 
    position: fixed;
    top:0;
    width:49%;
    height:100%;
    padding: 3px;
}
.login {
    position: fixed;
    top:0;
    right:0;
    z-index:10;
    border: solid 1px black;
    opacity: 0.6;
    padding: 3px;
}
.left {    
    left:0;
}
.right {
    right:0;
}